.auto_trade_enable {justify-content: right;}
/* .trade_ticker .left{ width: 50%;}
.trade_ticker .right{ width: 50%; margin: auto;} */
.trade_ticker .right .trade{ font-size: 24px; font-weight: 700; } 
.order_detail .form-inline {justify-content: space-between;}
.right {justify-content: space-between;}